/* style.css */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    background-image: url('RRWWP.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}