/* Basic Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url('../images/burlap.png');
    background-size: cover;  /* image covers entire background */
    background-repeat: no-repeat;
    background-position: center;  /* centers the image */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 100px; /* logo size */
    margin-right: 10px;
    border: 2px solid #ebc77c;
    border-radius: 10px;  /* rounded corners */
}

header .logo h1 {
    font-family: 'Abril Fatface', sans-serif;
    font-size: 24px;
    color: #ebc77c; /* Adjust color based on branding */
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #ebc77c; /* Adjust for your color scheme */
    font-size: 18px;
}

header nav ul li a:hover {
    color: #e6783e; /* Adjust hover effect for branding */
}


/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    .cta-button {
        margin-top: 10px;
    }
}